@import "normalize.scss";
@import "variables.scss";

body {
    background: #121212;
    // background: #212121;
}

.wrapper {
    margin: 0 auto;
}



ul {
    list-style: none;
    padding: 0;
}

li {
    color: $fontColour;
}

h1 {
  font-family: 'Racing Sans One', cursive;
  color: $fontColour;
  text-align: center;
  font-size: 110px;
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  }

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  background: linear-gradient(to right, fuchsia, $fontColour);
  display: block;
  text-align: right;
  padding: 10px;
  
}

.secondaryHeader{
    color: fuchsia;
    font-family: helvetica, sans-serif;
    letter-spacing: 0px;
    text-align: center;
    position: absolute;
    font-size: 25px;
    top: 141px;
    right: 240px;
    left: 525px;
    margin: 0;
} 

.catchPhrase {
// color: lighten(#121212, 30%);
text-align: center;
// color: linear-gradient(to right, fuchsia, $fontColour);
background: -webkit-linear-gradient(to right, fuchsia, $fontColour);
background: linear-gradient(to right, fuchsia, $fontColour);
color:transparent;
-webkit-background-clip: text;
background-clip: text;
text-transform: uppercase;
letter-spacing: .2px;
}


p {
    font-family: Helvetica, sans-serif;
}

.tileContainer {
  white-space: nowrap;
  text-align: center;
}

.seasonTile {
  border-radius: 10px;
  border: 1px solid #e600e6;
  background: #212121;
  text-transform: uppercase;
  color: white;
  border-style: groove;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 28px;
  text-align: center;
  padding: 3% 1.5%;
  margin: 10px;
  display: inline-block;
  filter: drop-shadow(0 0 7px #e600e6);
}

.seasonTile:hover {
  filter: drop-shadow(0 0 50px #e600e6);
  
}

.pickSeason {
  font-size: 25px;
  font-weight: normal;
  padding: 1% 3%;
}

// the song card begins here

.buttonContainer {
  float: left;
  width: 30%;
  height: 100%;
  position: relative;
}

.slayButton {
  background: #e600e6;
  border-style: outset;
  margin: 10px;
  text-transform: uppercase;
  width: 100%;
  font-size: 30px;
  color: #191919;
  border-radius: 20px;
  position: relative;
  top: 70%;
  left: 50%;
  font-family: 'Racing Sans One', cursive;
}

@media (max-width: 550px) {
  .buttonContainer {
    float: none;
  }
}

.songCard {
  margin: 10px 40px;
  border-radius: 5px;
  text-align:center;
  background:#212121;
  position: relative;
}

.songCard ul {
  // border: 3px solid grey;
}

.songCardWrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  height: 500px;
}

.thumb-vertical {
  width: 5px;
  height: 10px;
  border-radius: 5px;
  background-color: #e600e6;
}  

.songlist {
    text-align: center;
    margin: 0 auto;
    margin: 10px;
    padding: 0;
    float: left;
    width: 50%;
}

.songArtist {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-transform:uppercase;
}

.songName {
    font-weight: bold;
    font-family: 'Racing Sans One', cursive;
    border:solid 8px #e600e6;
    letter-spacing:1px;
    font-weight:500;
    font-size: 25px;
    line-height:1.8;
    color: white;
    text-align: center;
}

// .songName:before {
//   content: "";
//   width: 0;
//   height: 0;
//   border-top: .9em solid transparent;
//   border-left: .9em solid mediumvioletred;
//   border-bottom: .9em solid transparent;
//   position:absolute;
//   left:0;
//   top:0;

// }

// .songName:after {
//   content: "";
//   width: 0;
//     height: 0;
//     border-top: .9em solid transparent;
//     border-right: .9em solid mediumvioletred;
//     border-bottom: .9em solid transparent;
//   position:absolute;
//   right:0;
//   top:0;
// }

.songNameWrapper {
  width: 90%;
  margin: 0 auto;
  position:relative;
  margin: 10px auto;
}

.songNameWrapper:before .songNameWrapper:after {
  content: "";
  height: 60%;
  background:rgb(208, 21, 139);
  position:absolute;
  top:20%;
  width:500px; 
}

.songNameWrapper:after {
  right: 100%;
}

.songNameWrapper:before {
  left: 100%;
}

.songQueen {

}

// SpotifyPopUp component styles

.spotifyPopUpWrapper {
  width: 100%;
    p {
      float: left;
      width: calc(55% - 40px);
      font-size: 30px;
      color: #000000;
      line-height: 150px;
      background-color: #ffffff;
      max-height: 750px;
      overflow: scroll;
      margin: 0 auto;
      padding: 20px;
    }
}

.popUpLeft {
  float: left;
  width: calc(45% - 30px);
  margin-right: 30px;
  min-height: 750px;
  max-height: 800px;
}


.popUpLeft img {
  float: left;
  width: 100%;
}

iframe {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

#popUp {
  height: 80vh;
  width: 95%;
  background-color: #212121;
  opacity: .95;
  transition: transform 400ms ease-in;
  float: left;
  position: relative;
}

#popUp.slideIn {
  padding: 80px 25px;
  position: absolute;
  top: 600px;
  transform: translateX(-50%);
  left: 50%;
  max-width: 1400px;
}

#popUp.slideOut {
  padding: 80px 25px;
  position: absolute;
  top: 600px;
  transform: translateX(-100%);
}

.closePopUp {
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.flicker-1 {

    -webkit-animation: flicker-1 2s linear infinite both;

            animation: flicker-1 2s linear infinite both;

}

/* ----------------------------------------------

 * Generated by Animista on 2018-3-2 16:17:31

 * w: http://animista.net, t: @cssanimista

 * ---------------------------------------------- */

/**

 * ----------------------------------------

 * animation flicker-1

 * ----------------------------------------

 */

@-webkit-keyframes flicker-1 {

  0%,

  100% {

    opacity: 1;

  }

  41.99% {

    opacity: 1;

  }

  42% {

    opacity: 0;

  }

  43% {

    opacity: 0;

  }

  43.01% {

    opacity: 1;

  }

  47.99% {

    opacity: 1;

  }

  48% {

    opacity: 0;

  }

  49% {

    opacity: 0;

  }

  49.01% {

    opacity: 1;

  }

}

@keyframes flicker-1 {

  0%,

  100% {

    opacity: 1;

  }

  41.99% {

    opacity: 1;

  }

  42% {

    opacity: 0;

  }

  43% {

    opacity: 0;

  }

  43.01% {

    opacity: 1;

  }

  47.99% {

    opacity: 1;

  }

  48% {

    opacity: 0;

  }

  49% {

    opacity: 0;

  }

  49.01% {

    opacity: 1;

  }

}

